<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Debug</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>.\Publish\ARM64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Arm64Debug</_TargetId>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
	  <EntryPointSymbol>EfiMain</EntryPointSymbol>
	  <LinkerSubsystem>EFI_APPLICATION</LinkerSubsystem>
	  <PublishAot>true</PublishAot>
	  <NoStdLib>true</NoStdLib>
	  <NoConfig>true</NoConfig>
	  <BuildVHDX>true</BuildVHDX>
  </PropertyGroup>
</Project>