<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>.\Publish\amd64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>x64Release</_TargetId>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
	  <EntryPointSymbol>EfiMain</EntryPointSymbol>
	  <LinkerSubsystem>EFI_APPLICATION</LinkerSubsystem>
	  <PublishAot>true</PublishAot>
	  <NoStdLib>true</NoStdLib>
	  <NoConfig>true</NoConfig>
	  <BuildVHDX>true</BuildVHDX>
	  <PlatformTarget>x64</PlatformTarget>
  </PropertyGroup>
</Project>